<%- include('partials/header') %>
    <% let pokemonTypes=[ "normal" , "fire" , "water" , "electric" , "grass" , "ice" , "fighting" , "poison" , "ground"
        , "flying" , "psychic" , "bug" , "rock" , "ghost" , "dragon" , "dark" , "steel" , "fairy" ] %>
        <form>
            <div class="framed">
                <table width="100%">
                    <thead>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Height</th>
                        <th>Types</th>
                        <th style="width: 150px">HP</th>
                        <th></th>
                    </thead>
                    <% for (let pokemon of player.pokemon) { %>
                        <tr>
                            <td><img src="<%= pokemon.image %>" /></td>
                            <td>
                                <%= pokemon.name %>
                            </td>
                            <td>
                                <%= pokemon.weight %>
                            </td>
                            <td>
                                <%= pokemon.height %>
                            </td>
                            <td>
                                <% for (let type of pokemon.types) { %>
                                    <img src="/images/types/<%= type %>.gif" />
                                    <% } %>
                            </td>
                            <td>
                                <div class="progress-bar-container">
                                    <div class="progress-bar p<%= Math.round(pokemon.currentHP / pokemon.maxHP * 100) %> )"
                                        id="progressBarG"></div>
                                </div>
                                <div style="margin-top: 5px">
                                    <%= pokemon.currentHP %>/<%= pokemon.maxHP %>
                                </div>
                            </td>
                            <td>
                                <button formmethod="post" formaction="/delete/<%= pokemon.id %>">
                                    X
                                </button>
                            </td>
                        </tr>
                        <% } %>
                </table>
                <div class="poke-summary">
                    <table>
                        <% if (usedTypes.length> 0) { %>
                            <tr>
                                <th>Used types</th>
                                <% for (let type of usedTypes) { %>
                                    <td>
                                        <img src="/images/types/<%= type %>.gif" />
                                    </td>
                                    <% } %>
                            </tr>
                            <% } %>
                                <% if (largest !==undefined) { %>
                                    <tr>
                                        <th>Largest</th>
                                        <td>
                                            <%= largest %>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% if (smallest !==undefined) { %>
                                            <tr>
                                                <th>Smallest</th>
                                                <td>
                                                    <%= smallest %>
                                                </td>
                                            </tr>
                                            <% } %>
                    </table>
                </div>
            </div>

            <div class="framed" id="allPokemon">
                <% for (let pokemon of allPokemon) { %>
                    <button formmethod="post" formaction="/add/<%= pokemon.id %>">
                        <%= pokemon.name %>
                    </button>
                    <% } %>

                        <div class="type-filter">
                            <% for (let type of pokemonTypes) { %>
                                <a href="/player/<%= player._id %>/pokemon?filter=<%= type %>#allPokemon"><img
                                        src="/images/types/<%= type %>.gif"></a>
                                <% } %>
                        </div>
            </div>

            <div class="framed">
                Welcome <%= player.name %>. What do you want to do: <br /><br />

                    <button formaction="/menu">Back</button>
            </div>
        </form>
        <%- include('partials/footer') %>