<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= message %></h1>

    <h2><%= caesar("Piotr", 1) %></h2>
    <h2><%= reverse("Piotr") %></h2>
    <h2><%= shorten("Piotr", 3) %></h2>
  </body>
</html>
