<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hey <%= userName %> we have a <%= message %> Friend for you !</h1>
    <section id="messageField">
      <img
        src="./images/<%= choiceAnimal %><%= nrAnimal %>.png"
        alt="<%= choiceAnimal %> picture"
      />
    </section>
  </body>
</html>
